# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
*.env
.env
.venv
env/
venv/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# Other
*.log
*.pot
*.pyc

# macOS
.DS_Store
